@charset "utf-8";

body {
    font-family: 'helvetica_neueregular',Arial,sans-serif;
    /*background-color: #ebebeb;*/
}

header{
    height: 100px;
    width: 100%;
    background: #003d4c ;
    border-bottom: 3px solid #aaaaaa;
}

header a img.logo{
    width: 100px;
    padding-left: 30px;
    height: 100px;
    float: left;
    display: inline-block;

}

header label{
    color: #ffffff;
    font-size: 40px;
    font-weight: bold;
    font-family: verdana;
    padding: 40px 250px;
}

nav{
    height: 30px;
    width: 100%;
    text-align: right;
    background-color: #d1d1d1;
    border-bottom: 3px solid #aaaaaa;
}

nav div{
    padding: 5px 20px 5px 5px;
}

nav a.logout img{
    /*margin: 0px 0px 0px 0px;*/
    height: 20px;
    width: 20px;
}


header,nav,label,div, a, img, li{
    transition: all 1s;
    -moz-transition: all 1s; /* Firefox 4 */
    -webkit-transition: all 1s; /* Safari and Chrome */
    -o-transition: all 1s; /* Opera */
}

/* fin para el menu pequeno */
#content{
   /* background-image: url("../img/layouts/content-bg.jpg");*/
    /*background-repeat: repeat;*/
    /*clear: both;*/
    width: 100%;
    color: #333;
    float: left;
    margin: 0;
    /*margin-top: 160px;*/
    overflow: auto;
    text-align: center;
    height: 640px;

}

#footer {
    font-family: 'helvetica_neueregular';
    clear: both;
    padding: 6px 10px;
    text-align: center;
    color: #9D9E9D;
    background-color:#FFFFFF;
}


