

.statboxsas {
	height: 120px;
	padding: 10px;
	position: relative;
	margin-bottom: 28px;
}
	
	.statboxsas .number {
		font-size: 40px;
		position: absolute;
		bottom: 20px;
		right: 10px;
	}

	.statboxsas .number .arrow{
		text-decoration: none;
		color: white !important;
		
	}

	.statboxsas .number .arrow:hover{
		text-decoration: none;
	}
	.statboxsas .number a:focus{
		text-decoration: none;
	}

	.statboxsas .number a i{
		color: white !important;
	}
	
	.statboxsas .title {
		font-size: 16px;
		position: absolute;
		top: 10px;
		left: 85px;
	}

	.statboxsas .title2 {
		font-size: 16px;
		position: absolute;
		bottom: 5px;
		right: 10px;
	}

	.statboxsas .footer {
		background: rgba(0,0,0,.1);
		background-color: #19FFFFFF;
		position: absolute;
		bottom: 0px;
		left: 0px;
		padding: 8px;
	}
	
	.statboxsas .footer:hover {
		background: rgba(0,0,0,.2);
	}
	
	.statboxsas .footer a {
		color: #fff;
		text-decoration: none;
	}

	/*.pagination > li > a, .pagination > li > span {
	    color: #2D89EF;
	}

	.pagination > li  {
	    display: inline;
	}

	.pagination > .active > a,
	.pagination > .active > span,
	.pagination > .active > a:hover,
	.pagination > .active > span:hover,
	.pagination > .active > a:focus,
	.pagination > .active > span:focus {
	    background-color: #2D89EF;
	    border-color: #fff;
	    color: #fff;
	}

	.pagination > li > a:hover,
	.pagination > li > span:hover,
	.pagination > li > a:focus,
	.pagination > li > span:focus {
	    color: #2D19FF;
	}*/