@charset "utf-8";

@media (max-width: 360px) {
    .files{
         width: 800px;
         padding: 0;
         text-align: left;
     }

    .files .file-tile{
        background-color: #263fdc;
        width: 180px;
        margin-right: 10px;
        height: 200px;
        text-align: center;
    }

    .files .file-tile .shadows .shadows-left,
    .level .file-tile .shadows .shadows-right{
        margin-bottom: -12px;
    }

    .files .file-tile{
        margin-bottom: 10px;
    }

    .files .file-tile .file-preview{
        display: block;
        margin: 3px;
    }

    .files .file-tile .file-preview .file-image{
        display: block;
        width: 90px;
        height: 90px;
        border: solid 0px #dedede;
        padding-top: 5px;
        padding-left: 45px;
    }

    .files .file-tile .file-preview .file-image img{
        height: 90px;
        width: 90px;
        border-radius: 5px;
    }

    .files .file-tile .file-data{
        /*border-left: solid 1px #dedede;*/
        margin: 0px;
        padding: 0px;
        width: 180px;
        color: #ffffff;
        font-weight: bold;
    }

    .files .file-tile .file-data .file-title{
        font-size: 14px;
        font-weight: bold;
        color: #47a5f6;
        color: #ffffff;
        font-weight: bold;
        height: 30px;
        overflow: hidden;
    }

    .files .file-tile .file-data .file-type{
        font-size: 11px;
        margin-top: 3px;
    }

    .files .file-tile .file-data .file-type span.label-type{

    }

    .files .file-tile .file-data .file-type span.type{
        /*border-right: solid 1px #dedede;*/
        padding-right: 10px;
    }
    .files .file-tile .file-data .file-type span.options{
        margin-left: 10px;
        float: right;
    }

    .files .file-tile .file-data .file-type span.options i{
        margin-right: 10px;
        cursor: pointer;
        color: #ffffff;
    }

    .files .file-tile .file-data .file-type span.options i:hover{
        color: #47a5f6;
    }
}